<%= form_with model: category, class: 'w-full flex flex-col items-center gap-y-2 p-2' do |f| %>
  <div class="w-3/4">
    <%= f.text_field :name, class: "w-full rounded-lg focus:ring-2 focus:ring-pal-100 focus:border-none", placeholder: "Name", required: true %>
  </div>
  <div class="w-3/4">
    <%= f.text_area :description, class: "w-full rounded-lg resize-none focus:ring-2 focus:ring-pal-100 focus:border-none", placeholder: "Description", required: true %>
  </div>
  <div class="w-full flex justify-center">
    <%= f.submit "SUBMIT", class: "py-2 w-1/2 bg-pal-300 rounded-md text-white shadow-md" %>
  </div>
<% end %>